/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{background-color: #41bbfc;color:white;
	background-image: radial-gradient(white 15%, transparent 16%),radial-gradient(white 15%, transparent 16%);
	background-size:60px 60px;
	background-position: 0 0, 30px 30px;}
a:visited, a{color:white;text-decoration: none;}
li:hover{background-color: white;}
li{list-style: none;display: inline-block;padding:5px 10px 10px 5px; border-bottom:solid white 1px;}
.nav{display: inline-block;}
.nav a{color:red;}
.content{background-color: rgba(175,175,175,0.7);
	padding:25px 50px 25px 50px;margin-left:75px;margin-right:75px;
	color:black;font-family:helvetica;}
.title{font-size:28px;font-family: sans-serif;text-align: center;}
h1{font-family: helvetica}
div{padding-bottom: 5px;}
.chat{float:right;padding:25px;border:1px black solid;color:black;}
.newthread{background-color: black;padding: 5px; border: solid white 1px;}
.brand_title a{color:red;}
