// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{background-color: grey;color:white;}
a:visited, a{color:white;text-decoration: none;}
li:hover{background-color: #aeaeae}
li{list-style: none;display: inline-block;padding:5px 10px 10px 5px; border-bottom:solid white 1px;}
.nav{display: inline-block;}
.title{font-size:28px;font-family: sans-serif;text-align: center;}
h1{font-family: helvetica}
div{padding-bottom: 5px;}
.chat{float:right;padding:25px;border:1px white solid;}
.newthread{background-color: black;padding: 5px; border: solid white 1px;}
