<div class="title">
	New site!
</div>
<div class="body">
	Welcome to the new website. things are still being built. Feel free to chill and hangout in the forums or the chat room. Products coming soon! Chat coming soon! (big one for me :) ) 
	Live videos coming soon! Gallery coming soon!
</div>
